
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.stars {
  background-image: url('./images/2-katanas.svg');
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  color: black;
  display: inline-block;
}

